[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "moderncor"]
	path = moderncor
	url = https://github.com/toshihiroiguchi/moderncor
